@model IEnumerable<Client>

@{
    ViewData["Title"] = "Behandelingen";
}

<h1>Clienten</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Voornaam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Achternaam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.magChatten)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Voornaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Achternaam)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.magChatten)
            </td>
            <td>
                <a asp-action="Blokkeer" asp-route-id="@item.Id">Blokkeer</a> |
                <a asp-action="Deblokkeer" asp-route-id="@item.Id">Deblokkeer</a>
            </td>
        </tr>
}
    </tbody>
</table>